
.section-follow .fa-4x{
  margin: 5px 10px;
}

div.card-panel .title{
  font-size: 1.8rem !important;
}

div.card-panel a{
  font-size: .8rem;
}


@media(min-width: 712px){
  div.card-panel .title{
    font-size: 1.5rem;
  }
}


